.page-container {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;

  img.logo {
    margin-top: 100px;
    width: 149px;
    object-fit: contain;
  }

  div.search-container {
    margin-top: 100px;
  }

  div.list-container {
    width: 100%;
    height: calc(100% - 295px);
  }
}
