<form class="search">
  <input
    #search
    type="text"
    class="search-input"
    placeholder="Pesquisar empresa"
    (input)="onSearch(search.value.trim())"
  />
  <button class="submit-button" (click)="onSubmit($event, search.value.trim())">
    <img src="assets/images/search.svg" alt="Pesquisar" class="icon" />
  </button>
  <ul *ngIf="searching" class="suggestions-list">
    <li
      *ngFor="let suggestion of suggestions"
      class="suggestion"
      (click)="
        search.value = suggestion.shortName;
        onClickSuggestion(suggestion.shortName)
      "
    >
      {{ suggestion.shortName }}
    </li>
  </ul>
</form>
